*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    max-width: 100%;
}

.black{
    color: black;
    text-decoration: none;
}

.grey{
    color: grey;
}

.padding-top{
 padding-top: 30px;
}

.padding-left{
    padding-left: 10px;
}



/* HEADER */

header{
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;

    /* debug */
    background-color: white;
}

/* NAV */

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-left{
    list-style-type: none;
    display: flex;
}

.nav-right{
    list-style-type: none;
    display: flex;
}

.nav-item{
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    background-color: transparent;
    vertical-align: middle;
}

.banner{
    background-color:#b4d0e7 ;
    width: 100%;
    padding-top: 50px;

}

.banner-description{
    height: 100%;
}

.text-banner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-banner>p{
    padding-bottom: 20px;
}

#principal-title{
    font-size: 3em;
}

.withdrawal{
    margin-top: 10px;
    font-size: .9em;
}

.arrow{
    font-size: 3em;
    padding-top: 50px;
    justify-content: flex-end;
    position: absolute;
    bottom:15px;
}

.container-l{
    width: 70%;
    height: 450px;
    margin: 0 auto;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    /* debug */
    /* background-color: azure; */
}

h1{
    padding-top: 50px;
    padding-bottom: 30px;
}

/* MAIN */
.container-s{
    width: 60%;
    height: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1200px;



    /* debug */
    /* background-color: red; */
}

.banner-description{
    display: flex;
    width: 100%;
    height: 80%;
    max-width: 1200px;
    margin: 0 auto;


    /* debug */
    /* background-color: aquamarine;
    border: 1px solid black; */
}

.img-banner{
    width: 70%;
    min-height: 200px;
    height: 100%;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   
    /* debug */
    /* border: solid 1px black; */
}

.text-banner{
    width: 30%;
    height: 85%;
    min-height: 300px;

    /* debug */
    /* border: 1px solid black; */
}

.b-button{
    padding: 7px;
    background-color: #0161ff;
    color: white;
    border: 0.5px solid #0161ff;
    border-radius: 5px;
}

.w-button{
    padding: 7px;
    background-color: white;
    color: black;
    border: 0.5px solid black;
    border-radius: 5px;
}

.price-column-title{
    padding-top: 50px;
    padding-bottom: 50px;
}

.fatturazione{
    padding-bottom: 30px;
}

.column{
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 30%;
    border: .8px solid grey;
    opacity: .8;
    ;

    /* debug */
    /* background-color: azure; */
}

.audience{
    width: 100%;
    height: 30px;
    text-align: center;
    border-bottom: .8px solid grey;
    padding-top: 5px;

    /* debug */
    /* background-color: azure;  */
}

.item-card{
    padding-top: 10px;
}

.container-card{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.features{
    margin-top: 10px;
    margin-bottom: 10px;
}

.level-title{
    padding-bottom: 15px;
    padding-top: 15px;
}


.month{
    padding-top: 15px;
    color: grey;
    font-style: italic;
}

.line{
    width: 15%;
    margin-top: 20px;
}

.enterprise{
    width: 100%;
    height: 20%;
    margin-top: 25px;
    position: relative;
    
    /* debug */
    /* background-color: azure; */
    border: 1px solid black;
}

.position-b{
    position: absolute;
    top: 40px;
    right: 10px;
}

/* partner section */
.partner{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* debug */
    /* background-color: azure; */
}

.text-partner{
    width: 40%;
    padding-left: 20px;
}

.img-partner{
    width: 60%;
    height: 100%;
    background-image: url(../img/partner.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    /* debug */
    /* background-color: azure;
    border: 1px solid black; */
}

/* business section */
.business-section{
    margin-top: 50px;
    
    /* debug */
    /* background-color: azure; */

}

.business-section > h3{
    margin-bottom: 20px;
}

.business-section-card{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;

    /* debug */
    /* background-color: azure; */
    /* border: 1px solid black; */
}

.card-business{
    width: calc(100% / 3);
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    /* debug */
    /* background-color: blueviolet; */
    /* border: 1px solid black; */
}

.business-img{
    max-width: 60%;
}

.business-title{
    padding: 7px 5px 7px 5px;
    font-size: 1em;
}


.business-text{
    font-size: .8em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}
/* PARTNER SECTION */

.client{
    margin-top: 170px;
}

.client>h2{
    font-size: 2em;
}


.partner-section{
    width: 100%;
    height: 550px;
    margin-top: 1300px;
    display: flex;

    /* debug */
    background-color: azure;
    border: 1px solid black;
}

.square{
    width: 33%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   
   /* debug */
   background-color: blueviolet;
   border: 1px solid black;
}

.square-partner{
    width: 50%;
    height: 50%;

    /* debug */
    border: 1px solid black;
}

.partner-title{
    padding: 10px;
    font-size: 2em;
}

.partner-text{
    padding: 0 10px 0 10px;
}

.trial{
    width: 100%;
    height: 200px;

    /* debug */
    background-color: #b4d0e7;
}

.container{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
/* FAQ SECTION */

.faq{
    padding-top: 50px;

}

.container-faq{
    width: 60%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.container-faq>hr{
    margin-bottom: 20px;
    margin-top: 20px;
}

/* FOOTER */

.container-footer{
    width: 80%;
    height: 300px;
    margin: 0 auto;
}

footer{
    background-color: black;
    width: 100%;
    height: 300px;
}

.related{
    width: 100%;
    height: 70%;

    /* debug */
    background-color: blueviolet;

}

.language{
    width: 100%;
    height: 30%;

    /* debug */
    background-color: azure;
}
